@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
--color-white:#fff;
--color-bright-orange: hsl(31, 77%, 52%);
--color-dark-cyan-1: hsl(184, 100%, 22%);
--color-dark-cyan-2: hsl(179, 100%, 13%);
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
background-color: #999;
    font-family: 'Lexend Deca', sans-serif;
}
@media(min-width:350px){
/*card icon*/
.card__icon{
    transition: transform .3s ease;
}
.card__icon:hover{
    transform: rotate(360deg);
}
/*container*/
.container{
margin:3rem 2rem;
}

.card{
    padding:2rem;
    box-shadow: 0 5px 8px rgb(0 0 0 / 9%);
    color: var(--color-white);
    transition: all .2s ease-in-out;
    position: relative;
}
.card:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card:hover{
 transform: scale(1.1);
 border-radius: 15px;
 z-index: 2;
}

.card h1{
    font-family:'Big Shoulders Display', cursive;;
    margin:1rem 0;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}
.card p{
    font-size: 1rem;
    opacity: 0.6;
    line-height: 1.6;
    max-width:240px;
}
.card__button{
    text-decoration: none;
    margin: 2rem 0;
    display: inline-block;
    padding: .75rem 2rem;
    font-size: 1rem;
    background-color: var(--color-white);
    color:var(--color-bright-orange);
    border-radius: 50px;
    cursor:pointer;
}
.card__button:hover{
    transform: scale(1.1);
    border:1px solid var(--color-white);
    color:var(--color-white);  
}
.card-1{
    background-color: var(--color-bright-orange);
}
.card-1 .card__button:hover{
    background-color: var(--color-bright-orange);
    
}
.card-2{
    background-color: var(--color-dark-cyan-1);
}
.card-2 .card__button{
    color: var(--color-dark-cyan-1);
}
.card-2 .card__button:hover{
    background-color: var(--color-dark-cyan-1);
    color:var(--color-white); 
}
.card-3{
    background-color: var(--color-dark-cyan-2);
}
.card-3 .card__button{
    color: var(--color-dark-cyan-2);
}
.card-3 .card__button:hover{
    background-color: var(--color-dark-cyan-2);
    color:var(--color-white); 
    
}
}

@media (min-width:700px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
      /* display:grid;
      grid-template-columns:repeat(3,1fr); */

    }
    .card{
        padding:2rem 1.9rem;
    }
    .card:first-child{
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }
    .card:last-child{
    border-top-right-radius: 15px;
     border-bottom-left-radius:0;
     border-bottom-right-radius: 15px;
    }
    .card:hover{
        border-radius: 15px;
        z-index: 2;
    }
    .card h1{
        margin:1.5rem 0;
    }
    .card p{
        padding:0.5rem 1.25rem 2.3rem 0;
        /* margin-bottom: 2.5rem; */
    }
}